
.secondpart-parent{
    max-width: 100%;
}
.secondpart-inner {
    background-color: #fff;
    height: 100px;
    position: relative;
}

.secondpart-yellow-back-img{
    width: 100%;
    max-width: 400px;
    height: auto;
}

.secondpart-img{
    z-index: 10;
}

.secondpart-background{
    background-color:#fbffa7;
}

.secondpart-back-img{
    padding-top: 6.5rem;
}

.secondpart-max-width{
    max-width: 100%;
}

.secondpart-greenone{
    background-color: #B6FFC0;
    height: auto;
    min-height:700px;
}

.secondpart-img-width{
    width: 35%;
}

.seconpart-base{
    position: relative;
}

.secondpart-overlay{
    position: absolute;
    left:47%;
    margin-top: 6rem !important;
}

.secondpart-img-center{
    display: block;
    margin: 0 auto;
}
.seconpart-purple-background{
    background-color:
            #d5b3ff ;
    height: auto;
    min-height: 600px;
    position: relative;
}

.test{
    z-index: 10;
    position: absolute;
}


.fuck{
    right: 0 !important;
    margin-top:4rem;
    height: auto;
    min-height: 200px;
}

.boobs{
    left: 12%;
    margin-top:7rem;
    height: auto;
    min-height: 400px;
}

.secondpart-blue-one{
    background-color: #b1c5ff;
}

.secondpart-white-text{
    color: #ffffff;
    font-size: large;
}

.seconpart-blue-child{
    display: table;
    height: 400px;
    overflow: hidden;
}
.seconpart-blue-child{
    display: table-cell;
    vertical-align: middle;
}

.secondpart-blue-text{
    color: #0000ff;
    font-weight: bold;
}
